#allitem {
	width: 1280px;
	margin: 30px auto 50px auto;
}

section.fullsect {
	width: 100%;
	margin: 24px auto 70px px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	position:relative;
}

div.leftsect {
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	width: 732px;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

div#keyword {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 16px;
	font-size: 16px;
	color: #555969;
}

div#mainImg {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	margin-bottom: 36px;
	border: 1px solid #e4e5ed;
	overflow: hidden;
}

div#mainImg img {
	width: 100%;
}

div#review {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

div#goahead {
	position: relative;
	width: 100%;
	background-color: #ffffff;
	z-index: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin-bottom: 48px;
}

div#going {
	display: flex;
}

div.gofirst {
	position: relative;
	flex: 1;
	justify-content: space-around;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
	height: 60px;
	padding: 0 4px;
	font-weight: 700;
	color: #303441;
	background: #ffffff;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 0;
}

div.goelse {
	position: relative;
	flex: 1;
	justify-content: space-around;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	color: #555969;
	font-size: 16px;
	background-color: #fafafc;
	cursor: pointer;
	height: 60px;
	padding: 0 4px;
	border-top: 1px solid #e4e5ed;
	border-right: 1px solid #e4e5ed;
	border-bottom: 1px solid #000000;
}

section.maintext_start{
	border-bottom: 1px solid #e4e5ed;
    margin-bottom: 48px;
    padding-bottom: 48px;
}
div.text {
	font-size: 18px;
	font-weight: 700;
	color: #303441;
}

div.servicearea {
	position: relative;
	overflow: hidden;
	padding-bottom: 42px;
}
div.servicearea img{
	width:100%;
}

div.service_text {
	color: #303441;
	line-height: 2;
	margin-top: 20px;
	text-align: justify;
	font-size: 16px;
	user-select: none;
	word-break: break-all;
	white-space: pre-line;
}

div#addbutton {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

div#addbuttonhide {
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 240px;
	background: linear-gradient(360deg, rgb(255, 255, 255) 0%,
		rgba(255, 255, 255, 0) 100%, rgba(217, 217, 217, 0) 100%);
	margin-bottom: 62px;
}

div#addbuttonstart {
	background-color: rgb(255, 255, 255);
	height: 62px px;
	display: flex;
	align-items: flex-end;
}
button.scroll{
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: transparent;
    border-color: rgb(48, 52, 65);
    color: rgb(48, 52, 65);
}
div.serviceversion{
	margin: 32px 0px;
    border-top: 1px solid rgb(48, 52, 65);
    border-bottom: 1px solid rgb(48, 52, 65);
}div.serviceversion>.versionarea{
	padding: 24px 24px 0px;
    margin-bottom: 24px; 
}
div.price{
	color: rgb(48, 52, 65);
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    margin-top:50px;
}
span.priceserv{
	font-size: 12px;
    color: rgb(114, 117, 133);
    font-weight: 400;
}
div.titleindex{
	color: #303441;
    font-size: 16px;
    font-weight: 700;
    margin: 20px auto;
}
div.descriptindex{
	color: #303441;
    font-size: 16px;
    margin: 20px auto;
    line-height: 1.5;
    white-space: pre-wrap;
}
div.versmenu{
	color: #303441;
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 24px;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-top: 4px;
}
div.buybuttonbox{
    display: flex;
    width: 200px;
    margin-left: 530px;
}
input.buybutton{
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    height: 52px;
    font-size: 16px;
    padding: 0px 24px;
    min-width: 80px;
    background-color: #D1B2FF;
    border-color: #D1B2FF;
    font-weight: bold;
}
input.buybutton:hover{
	background-color: rgb(128, 65, 217);
	color:white;
}
aside#vers{
	position:fixed;
	margin-left:792px;
	width:488px;
}
aside>section#love{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 0 8px;
}
#love>.lovebuttonbox{
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    -webkit-transition: background-color 0.3s,border-color 0.3s;
    transition: background-color 0.3s,border-color 0.3s;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 32px;
    font-size: 13px;
    padding: 0 12px;
    min-width: 64px;
    background-color: #fff;
    border-color: #e4e5ed;
    color: #303441;
    border: 0;
}
#love>.lovebuttonbox:hover{
	background-color:#EAEAEA;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon.heart img{
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 3px;
    margin-left: -5px;
}
.version_title{
	margin-bottom:20px;
}
.version_titlearea{
	font-weight: 500;
    margin: 0 0 8px;
    color: #303441;
    font-size: 20px;
    word-break: keep-all;
    line-height: 1.5;
}
.versionbox{
	-webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 1px solid #e4e5ed;
    margin-bottom: 20px;
}
div.versionbox2{
    padding: 24px 24px 0 24px;
    margin-bottom: 24px;
}
div.versionbuybutton{
	padding: 20px 24px;
}